.my-drop-zone { 
    border: dotted 2px #dadada; 
    background-color: #fff !important;
    min-height: 80px;
    line-height: 80px;
}
.nv-file-over { border: dotted 2px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 2px green; }