<div class="col-md-12">
  <div class="card mb-3">
      <div class="card-header">{{label}}</div>
      <div><input type="text" [(ngModel)]="search"></div>
      <div class="card-body table-responsive">
          <table class="table">
              <thead>
              <tr>
                  <th *ngFor="let headerfield of header">{{headerfield}}</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rdata of (data | Search:search);  let i = index">
                    <td scope="row">{{ i+1 }}</td>
		            <td *ngFor="let cdata of (rdata | keys:field) ">{{ cdata.value }}</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>