<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
        </a>
	<div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('users')">
                <span><i class="fa fa-plus"></i>&nbsp; Users</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'users'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>Extensions</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Groups</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;DID/Inbound
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;DID/Groups
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('report')">
                <span><i class="fa fa-plus"></i>&nbsp;Reports</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'report'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>Call Detaill</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Current Call</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>Users Report</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
