
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Message Form -->
                <mat-card-title>Add Message</mat-card-title>
                <form class="basic-form" (ngSubmit)="onSubmit()"  #AddMessageForm="ngForm">
                <div fxLayout="row" fxLayoutWrap="wrap">
                     <div fxFlex.gt-md="100" fxFlex="100">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Enter Name" [(ngModel)]="cdata.name" name="name">
                      </mat-form-field>
                    </div>
                        <input id="filename" name="filename" type="file" />
                        <div fxFlex.gt-sm="100" fxFlex="100">
                      <button mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>

