
<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Message Form -->
               <form class="basic-form" (ngSubmit)="onSubmit()"  #AddUserForm="ngForm">
              
                  <mat-grid-list cols="2" rowHeight="100px">
                      <mat-grid-tile [colspan]="1">
                        <div class="div-info">
                          <mat-form-field>
                            <input matInput placeholder="Enter User Name" [(ngModel)]="cdata.username" id="username"  name="username">
                          </mat-form-field>
                        </div>
                      </mat-grid-tile>
                    <mat-grid-tile [colspan]="1">
                      <div class="div-info">
                          <mat-form-field>
                              <input matInput placeholder="Enter Password" [(ngModel)]="cdata.password"  id="password" name="password">
                          </mat-form-field>
                      </div>
                    </mat-grid-tile>
                  <mat-grid-tile [colspan]="1">
                      <div class="div-info">
                        <mat-form-field>
                          <input matInput placeholder="Enter Company Name" [(ngModel)]="cdata.company"  id="company" name="company">
                        </mat-form-field>
                      </div>
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1">
                    <div class="div-info">
                    <mat-form-field>
                      <input matInput placeholder="Enter Contact Number" [(ngModel)]="cdata.contact" id="contact"  name="contact">
                    </mat-form-field>
                    </div>
                 </mat-grid-tile>
                 <mat-grid-tile [colspan]="1" >
                    <div class="div-info">
                    <button mat-raised-button color="primary" type="submit">Submit</button>
                  </div>
                </mat-grid-tile>
                </mat-grid-list>
              
              </form>
          </mat-card-content>
      </mat-card>
  </div>
</div>
